.p-about {
  padding: 40px 140px;
  display: flex;
  gap: 32px;
  align-items: center;
  flex-wrap: wrap;
}

.p-about__left {
  max-width: 350px;
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.p-about__right {
  width: 500px;
  border-radius: 20px;
}

@media screen and (max-width: 1280px) {
  .p-about {
    justify-content: center;
  }

  .p-about__left {
    max-width: 100%;
  }

  .p-about__right {
    width: 565px;
  }
}

@media screen and (max-width: 834px) {
  .p-about {
    padding: 40px 40px;
    flex-flow: column;
    align-items: flex-start;
  }

  .p-about__left {
    max-width: 674px;
    display: flex;
    flex-flow: column;
    gap: 24px;
  }

  .p-about__right {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .p-about {
    max-width: 390px;
    margin-top: 40px;
    padding: 0;
    display: flex;
    flex-flow: column;
    gap: 32px;
  }

  .p-about__right {
    max-width: 390px;
    height: 170px;
    border-radius: 30px;    
  }
}
