.p-about {
  padding: 40px 76px;
  max-width: 1200px;
}

/* .p-about__left {
  /* max-width: 350px;
  display: flex;
  flex-flow: column;
  gap: 24px; */
/* } */

  .p-about__text {
    margin-top: 24px;
  }

@media screen and (max-width: 1280px) {
  .p-about {
    justify-content: center;
    max-width: 100%;
  }
/* 
  .p-about__left {
    max-width: 100%;
  } */

  /* .p-about__right {
    width: 565px;
  } */
}

@media screen and (max-width: 834px) {
  .p-about {
    padding: 40px 40px;
    /* flex-flow: column;
    align-items: flex-start; */
    max-width: 674px;
  }

  /* .p-about__left {
    max-width: 674px;
    display: flex;
    flex-flow: column;
    gap: 24px;
  } */

  /* .p-about__right {
    width: 100%;
  } */
}

@media screen and (max-width: 414px) {
  .p-about {
    max-width: 390px;
    margin-top: 40px;
    padding: 0;
    display: flex;
    flex-flow: column;
    gap: 32px;
  }

  /* .p-about__right {
    max-width: 390px;
    height: 170px;
    border-radius: 30px;    
  } */

  .p-about__text {
    margin-top: 0;
  }
}
