.p-explain {
  max-width: 100%;
  padding: 40px 76px;
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.p-explain__title {
  font-family: Noto Sans JP;
  font-size: 40px;
  font-weight: 700;
  line-height: 57.92px;
  letter-spacing: 0.005em;
  color: #2D2D2D;
}

.p-explain__text {
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

@media screen and (max-width: 834px) {
  .p-explain {
    padding: 40px 40px;
  }

  .p-explain__title {
    font-size: 32px;
    line-height: 46.34px;
  }
}

@media screen and (max-width: 414px) {
  .p-explain {
    margin-top: 40px;
    max-width: 390px;
    padding: 0;
    gap: 16px;    
  }

  .p-explain__title {
    font-family: Noto Sans JP;
    font-size: 26px;
    font-weight: 700;
    line-height: 43.44px;
    letter-spacing: 0.005em;
  }
}
