.p-firstview {
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 76px;
}

.p-firstview__contents {
  display: flex;
  flex-flow: column;
  gap: 40px;
}

.p-firstview__title {
  font-style: Noto Sans JP;
  font-weight: 700;
  font-size: 76px;
  line-height: 80px;
  font-family: Noto Sans JP;
  letter-spacing: 0.005em;
  text-align: left;
}

.p-firstview__text {
  font-family: Noto Sans JP;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: left;
}

.p-firstview__text span {
  font-weight: bold;
}

.p-firstview__picture {
  height: 545px;
  width: 100%;
  object-fit: cover;
}

.p-firstview__scroll {
  width: 18px;
  height: 128px;
  position: fixed;
  top: 522px;
  left: 1206px;
}

@media screen and (max-width: 1126px) {
  .p-firstview__title {
    font-size: 52px;
  }
}

@media screen and (max-width: 834px) {
  .p-firstview {
    padding: 40px 40px;
  }

  .p-firstview__contents {
    gap: 32px;
  }

  .p-firstview__title {
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.005em;    
  }

  .p-firstview__text {
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 600px) {
  .p-firstview__title {
    font-size: 32px;
    line-height: 48px;
  }
}

@media screen and (max-width: 414px) {
  .p-firstview {
    height: 100vh;
    padding: 0;
    max-width: 358px;
    position: relative;
  }

  .p-firstview__logo {
    position: absolute;
    top: 80px;
    left: 16px;
  }

  .p-firstview__title {
    font-family: Noto Sans JP;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.005em;
  }

  .p-firstview__text {
    font-family: Noto Sans JP;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: 0.02em;
  }
}