.p-footer {
  background-color: #FFFFFF;
  padding: 20px 80px;
}

.p-footer__logo {
  width: 160px;
  height: 35.56px;
}

.p-footer__text {
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.17px;
  text-align: left;
  color: #2D2D2D;
  margin-top: 25px;
}

.p-footer__linkBox {
  max-width: 88%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 25px;
}

.p-footer__leftBox {
  display: flex;
  gap: 18px;
}

.p-footer__link {
  width: 56px;
  height: 56px;
  padding: 21px;
  gap: 10px;
  border-radius: 28px;
  background-color: #DEDEDE;
}

.p-footer__link:hover {
  opacity: 50%;
}

.p-footer__linkLogo {
  width: 13.01px;
  height: 12.87px;
}

.p-footer__scrollBox {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  background-color: #2D2D2D;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-footer__scrollArrow {
  width: 18px;
  height: 19px;
  cursor: pointer;
}

.p-footer__copyRight {
  font-family: Noto Sans JP;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.82px;
  text-align: center;
  color: #9E9E9E;
  margin-top: 25px;
}

@media screen and (max-width: 414px) {
  .p-footer {
    max-width: 390px;
    height: 287px;
    background-color: #FFFFFF;
    position: relative;
    padding: 0 16px;
  }

  .p-footer__inner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }

  .p-footer__scrollBox {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: #2D2D2D;
    z-index: 4;
    cursor: pointer;
  }

  .p-footer__scrollArrow {
    width: 16px;
    height: 17px;
    cursor: pointer;
  }

  .p-footer__logo {
    width: 130px;
    height: 29px;
    margin: 0 auto;
  }

  .p-footer__text {
    font-family: Noto Sans JP;
    font-size: 14px;
    line-height: 20.27px;
    margin-top: 25px;
    padding: 0 8px;
  }

  .p-footer__linkBox {
    max-width: 100%;
    margin-top: 25px;
  }

  .p-footer__link {
    width: 48px;
    height: 48px;
    padding: 0;
    padding: 16px 16px;
  }

  .p-footer__linkLogo {
    width: 16px;
    height: 18px;
  }
}
