.p-location {
  padding: 110px 0;
}

.p-location__introBox {
  text-align: center;
}

.p-location__imgBox {
  max-width: 920px;
  height: 520px;
  margin: 55px auto 0;
}

.p-location__img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 795px) {
  .p-location {
    padding: 20px 0;
  }

  .p-location__imgBox {
    margin-top: 30px;
    height: 380px;
  }
}

@media screen and (min-width: 376px) {
}

@media screen and (max-width: 375px) {
}
